/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px 8px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

.cell {
  border: 1px solid #262626;
  background-color: #F2F2F2;
}

.cell-select:hover {
  border: 2px solid #262626;
}

.wall {
  background-color: #262626;
}

.glass {
  background-color: #AED3F2;
}

.target {
  background-color: #6ED93D;
}

.camera {
  background-color: #F37705;
}

.unobservable {
  background-color: #727372;
}

.observable {
  background-color: #BFBFBF;
}


.navbar {
  background-color: #23303B;
}

.nav-item, .navbar-brand, .navbar-toggler{
  color: #F2F2F2 !important;
}

.nav-item a:hover{
  color: #AED3F2;
}

.drop-btn {
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255, 0.75);
  min-width: 140px;
  min-height: 20px;
  z-index: 2;
  top: -43px;
  left: -75px;
}

/* Show the dropdown menu on hover */
.drop-btn:hover .dropdown-content {
  display: block;
}
