<app-getting-started #gettingStartedComponent></app-getting-started>

<button type="button" class="btn" (click)="gettingStartedComponent.pageCounter=0">Getting Started</button>

<div style="padding: 10px; display: inline-block">
  <table id="control">
    <tr>
      <td>
        <button type="button" (click)="updateSystem(-1,-1)" [disabled]="isMoving || !movingOptions[0][0]">
          <i class="fa fa-arrow-circle-o-left fa-2x fa-rotate-45"></i>
        </button>
      </td>
      <td>
        <button type="button"
                (click)="updateSystem(0,-1)" [disabled]="isMoving || !movingOptions[1][0]"
                tooltip="move upward" placement="top" delay="50">
          <i class="fa fa-arrow-circle-o-up fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button" (click)="updateSystem(1,-1)" [disabled]="isMoving || !movingOptions[2][0]">
          <i class="fa fa-arrow-circle-o-up fa-2x fa-rotate-45"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" (click)="updateSystem(-1,0)" [disabled]="isMoving || !movingOptions[0][1]">
          <i class="fa fa-arrow-circle-o-left fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button" (click)="updateSystem(0,0)" [disabled]="isMoving || !movingOptions[1][1]">
          <i class="fa fa-circle-o fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button" (click)="updateSystem(1,0)" [disabled]="isMoving || !movingOptions[2][1]">
          <i class="fa fa-arrow-circle-o-right fa-2x"></i>
        </button>
      </td>
    <tr>
      <td>
        <button type="button" (click)="updateSystem(-1,1)" [disabled]="isMoving || !movingOptions[0][2]">
          <i class="fa fa-arrow-circle-o-down fa-2x fa-rotate-45"></i>
        </button>
      </td>
      <td>
        <button type="button" (click)="updateSystem(0,1)" [disabled]="isMoving || !movingOptions[1][2]">
          <i class="fa fa-arrow-circle-o-down fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button" (click)="updateSystem(1,1)" [disabled]="isMoving || !movingOptions[2][2]">
          <i class="fa fa-arrow-circle-o-right fa-2x fa-rotate-45"></i>
        </button>
      </td>
    </tr>

  </table>
</div>

<div id="legend">
  <div style="display: inline-block; cursor: pointer;" (click)="setCellChangeType('')">

    <div class="color-box cell"></div>
    Empty space
  </div>

  <div style="display: inline-block; cursor: pointer;" (click)="setCellChangeType('wall')">
    <div class="color-box cell wall"></div>
    Wall
  </div>

    <div style="display: inline-block; cursor: pointer;" (click)="setCellChangeType('glass')">
      <div class="color-box cell glass"></div>
      Glass
    </div>


  <div style="display: inline-block; cursor: pointer;" (click)="setCellChangeType('target')">
    <div class="color-box cell target"></div>
    Target
  </div>

  <div style="display: inline-block; cursor: pointer;" (click)="setCellChangeType('camera')">
    <div class="color-box cell camera"></div>
    Camera
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="grid-title">True state of the system</div>
      <app-grid [map]="map" [trueState]="trueState" [camerasList]="cameras" (cellChanged)="changeCell($event)"></app-grid>
    </div>

    <div class="col-sm">
      <div class="grid-title">Belief state of the system</div>
      <app-grid [map]="map" [probabilities]="probabilities" (cellChanged)="changeCell($event)"></app-grid>
    </div>

    <div class="col-sm">
      <div class="grid-title">Observation of the cameras</div>
      <app-grid [map]="map" [camerasList]="cameras" [trueState]="trueState"
                [cameraVision]="camerasVision" (cellChanged)="changeCell($event)"></app-grid>
    </div>
  </div>
</div>
