.fa-rotate-45 {
  -ms-transform:rotate(45deg);     /* Internet Explorer 9 */
  -webkit-transform:rotate(45deg); /* Chrome, Safari, Opera */
  transform:rotate(45deg);         /* Standard syntax */
}

#control button {
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}

#control i {
  color: #23303B;
}

#control button:disabled i {
  color: #BABCBF;
}

#control button:hover:enabled i {
  color: #385D84;
}

.grid-title {
   text-align: center;
  font-size: 18px;
  font-weight: bold;
 }


#legend {
  text-align: center;
}

.legend-element {
  display: inline-block;
  padding: 5px;
}


.cell-type-selected {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
}


.quantity{
  display:flex;
  width:160px;
}

/* it will support chrome and firefox */
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;
}

.quantity input,.quantity button{
  width:50px;
  padding:.5em;
  font-size:1.2rem;
  text-align:center;
  font-weight:900;
  background:white;
  border:1px solid #aaa;
}

.quantity input{
  border-left:none;
  border-right:none;
}

.number-input {
  width: 35px;
  border: none;
}

.btn:hover {
  color: #23303B;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: 1px;
  top: 5px;
  margin: 1px 5px;
  border: 1px solid black;
}

.btn:hover .color-box {
  width: 22px;
  height: 22px;
  margin: 0 4px;
}


