.fa-rotate-45 {
  -ms-transform:rotate(45deg);     /* Internet Explorer 9 */
  -webkit-transform:rotate(45deg); /* Chrome, Safari, Opera */
  transform:rotate(45deg);         /* Standard syntax */
}

#control button {
  background-color: #F2F2F2;
  border: 0;
  width: 40px;
  height: 40px;
}

#control i {
  color: #2E343F;
}

#control button:disabled i {
  color: #BABCBF;
}

.grid-title {
   text-align: center;
 }

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: 5px;
  top: 5px;
  margin: 0 5px;
}

.header-element {
  display: inline-block;
}

#legend {

}
