<p>board works!</p>

<div style="padding: 10px">
  <table id="control">
    <tr>
      <td>

        <button type="button" matTooltip="Info about the action">
          <i class="fa fa-arrow-circle-o-left fa-2x fa-rotate-45"></i>
        </button>
      </td>
      <td>
        <button type="button"> <i class="fa fa-arrow-circle-o-up fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button"><i class="fa fa-arrow-circle-o-up fa-2x fa-rotate-45"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button"><i class="fa fa-arrow-circle-o-left fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button"><i class="fa fa-circle-o fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button"><i class="fa fa-arrow-circle-o-right fa-2x"></i>
        </button>
      </td>
    <tr>
      <td>
        <button type="button"><i class="fa fa-arrow-circle-o-down fa-2x fa-rotate-45"></i>
        </button>
      </td>
      <td>
        <button type="button"> <i class="fa fa-arrow-circle-o-down fa-2x"></i>
        </button>
      </td>
      <td>
        <button type="button"><i class="fa fa-arrow-circle-o-right fa-2x fa-rotate-45"></i>
        </button>
      </td>
    </tr>

  </table>
</div>


<app-grid [cells]="cells" style="float:left;"></app-grid>

<app-grid [cells]="cells"></app-grid>
