.fa-rotate-45 {
  -ms-transform:rotate(45deg);     /* Internet Explorer 9 */
  -webkit-transform:rotate(45deg); /* Chrome, Safari, Opera */
  transform:rotate(45deg);         /* Standard syntax */
}

#control {
  margin: 0 auto;
}

#control button {
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}

#control i {
  color: #23303B;
}

#control button:disabled i {
  color: #BABCBF;
}

#control button:hover:enabled i {
  color: #385D84;
}

#control button:active:hover i {
  color: #E77557;
}

.grid-title {
   text-align: center;
  font-size: 18px;
  font-weight: bold;
 }


#legend {
  text-align: center;
}

.legend-element {
  display: inline-block;
  padding: 5px;
}


.cell-type-selected {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
}

.quantity-input {
  width: 2ch;
  border: none;
  text-align: center;
  align-content: center;
  display: inline-block;
}

.quantity-input:hover {
  border-bottom: 2px solid #A6A6A6;
}

.btn:hover {
  color: #23303B;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: 1px;
  top: 5px;
  margin: 1px 5px;
  border: 1px solid black;
}

.btn:hover .color-box {
  width: 22px;
  height: 22px;
  margin: 0 4px;
}

.dropdown-content {
  top: 100%;
  left: 50%;
  width: 80px;
  transform: translateX(-50%);
}

