<!--<button type="button" mdbBtn color="primary" class="bwaves-light" mdbTooltip="Tooltip on top" placement="top"-->
<!--        mdbWavesEffect>-->
<!--  Tooltip on top-->
<!--</button>-->

<!--<svg height="210" width="500">-->
<!--  <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />-->
<!--</svg>-->

<table id="board">
  <tr *ngFor="let y of ordinateArray()">
    <td *ngFor="let x of abscissaArray()" class="cell" [style.background-color]="getCellColor(x,y)">
    </td>
  </tr>
</table>


