.btn {
  background-color: rgb(55,55,55);
}

#board{
  min-width: 340px;
  margin: 20px auto;
}

.camera-fov{
  position: absolute;
  pointer-events: none;
}

.camera-line {
  stroke: #F1A009;
  stroke-width:2
}




