
<table id="control">
  <tr>
    <td>
      <button type="button"><i class="fa fa-arrow-circle-o-up fa-2x"></i>
      </button>
    </td>
    <td>
      <button type="button"> <i class="fa fa-arrow-circle-o-up fa-2x"></i>
      </button>
    </td>
    <td>
      <button type="button"><i class="fa fa-arrow-circle-o-up fa-2x"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button type="button"><i class="fa fa-arrow-circle-o-left fa-2x"></i>
      </button>
    </td>
    <td>
      <button type="button"><i class="fa fa-circle-o fa-2x"></i>
      </button>
    </td>
    <td>
      <button type="button"><i class="fa fa-arrow-circle-o-right fa-2x"></i>
      </button>
    </td>
  <tr>
    <td>
      <button type="button"><i class="fa fa-arrow-circle-o-down fa-2x"></i>
      </button>
    </td>
    <td>
      <button type="button"> <i class="fa fa-arrow-circle-o-down fa-2x"></i>
      </button>
    </td>
    <td>
      <button type="button"><i class="fa fa-arrow-circle-o-down fa-2x"></i>
      </button>
    </td>
  </tr>

</table>

<table id="board">
  <tr *ngFor="let y of ordinateArray()">
    <td *ngFor="let x of abscissaArray()" class="cell" [style.background-color]="getCellColor(x,y)">
    </td>
  </tr>
</table>


