<svg height="320" width="320" class="camera-fov" *ngIf="camerasList.length > 0">
  <line *ngFor="let camera of camerasList"
        [attr.x1]="(camera.x+0.5) * getCellSize()"
        [attr.y1]="(camera.y+0.5) * getCellSize()"
        [attr.x2]="(camera.x+0.5) * getCellSize()+getVectorX(camera.orientation + camera.fov)"
        [attr.y2]="(camera.y+0.5) * getCellSize()+getVectorY(camera.orientation + camera.fov)"
        style="stroke:rgb(255,0,0);stroke-width:2" />
  <line *ngFor="let camera of camerasList"
        [attr.x1]="(camera.x+0.5) * getCellSize()"
        [attr.y1]="(camera.y+0.5) * getCellSize()"
        [attr.x2]="(camera.x+0.5) * getCellSize()+getVectorX(camera.orientation - camera.fov)"
        [attr.y2]="(camera.y+0.5) * getCellSize()+getVectorY(camera.orientation - camera.fov)"
        style="stroke:rgb(255,0,0);stroke-width:2" />
</svg>

<table id="board">
  <tr *ngFor="let y of ordinateArray()">
    <td *ngFor="let x of abscissaArray()" class="cell" [style.background-color]="getCellColor(x,y)" [ngClass]="getCellClass(x,y)"
        [style.width]="getCellSize() +'px'" [style.height]="getCellSize() +'px'"
        (click)="cellChanged.emit([x,y])">

<!--    <td *ngFor="let x of abscissaArray()" class="cell" [ngClass]="cells[x][y]" [style.background-color]="getCellColor(x,y)"-->
<!--        [style.width]="getCellSize() +'px'" [style.height]="getCellSize() +'px'">-->
<!--      <i class="fa fa-video-camera" style="position: absolute"></i>-->
    </td>
  </tr>
</table>


