.btn {
  background-color: rgb(55,55,55);
}

#board{
  min-width: 340px;
  margin: 20px auto;
}

.camera-fov{
  position: absolute;
  pointer-events: none;
}

.camera-line {
  stroke: #F1A009;
  stroke-width:2
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255, 0.85);
  min-width: 16ch;
  min-height: 1.2em;
  z-index: 2;
  transform: translate(-50%, 0);
  top: -80%;
  pointer-events: none;
}


