<header>
  <div class="mb-3">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
      <div class="container">
        <a class="navbar-brand">POMCP Visualization <a class="active" style="font-size: 11px" href="https://www.linkedin.com/in/emilien-briant/" target="_blank">by Emilien Briant</a></a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item active dropdown" (click)="toggleParams()">
            <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">Parameters</a>
          </li>

          <li class="nav-item active dropdown" (click)="toggleMap()">
            <a class="nav-link dropdown-toggle btn" data-toggle="dropdown">Maps</a>
          </li>


          <li class="nav-item active">
            <a class="nav-link btn" (click)="gettingStarted.pageCounter=0"
            >Help</a
            >
          </li>
        </ul>
      </div>

    </nav>

    <nav *ngIf="mapPanel" class="navbar navbar-expand-md" style="top: -1px">
      <div class="navbar-collapse collapse pt-2 pt-md-0">
        <ul class="navbar-nav">

          <li class="nav-item active drop-btn">
            <a class="nav-link" (click)="changeWorld(0)">The small room</a>
            <div class="dropdown-content">
              <p>A small map with a single hidden room</p>
              <img src="small_room.jpg">
            </div>
          </li>

          <li class="nav-item active drop-btn">
            <a class="nav-link" (click)="changeWorld(1)">The Museum</a>
            <div class="dropdown-content">
              <p>A large map with several small rooms</p>
              <img src="museum.jpg">
            </div>
          </li>

          <!--          <li class="nav-item active drop-btn">-->
          <!--            <a class="nav-link">The Coridor</a>-->
          <!--            <div class="dropdown-content">-->
          <!--              <p>A long corridor watched by multiple cameras</p>-->
          <!--              <img src="Museum.png">-->
          <!--            </div>-->
          <!--          </li>-->

          <li class="nav-item active drop-btn">
            <a class="nav-link" (click)="changeWorld(2)">The empty space</a>
            <div class="dropdown-content">
              <p>An empty room for you to customize</p>
              <img src="empty_room.jpg">
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <nav *ngIf="parametersPanel" class="navbar navbar-expand-md" style="top: -1px">
      <div class="navbar-collapse collapse pt-2 pt-md-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">Searching tree depth
              <div class="drop-btn help-tooltip">
                <i class="far fa-question-circle fa-sm"></i>
                <div class="dropdown-content">
                  The number of time steps the searching tree simulates at each iterations
                </div>
              </div>
            </a>
            <div class="slider-container">
              <input type="range" min="1" max="5" step="1" class="slider" [(ngModel)]="board.treeDepth">
              <div class="param-display">{{board.treeDepth}}</div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link">Searching tree iterations
              <div class="drop-btn help-tooltip">
                <i class="far fa-question-circle fa-sm"></i>
                <div class="dropdown-content">
                  The number of iterations performed to create the searching tree corresponding to the number of
                  possible scenerios that are simulated
                </div>
              </div>
            </a>
            <div class="slider-container">
              <input type="range" min="10" max="1000" step="10" class="slider" [(ngModel)]="board.iterations">
              <div class="param-display">{{board.iterations}}</div>
            </div>

          </li>

          <li class="nav-item">
            <a class="nav-link">Gamma
              <div class="drop-btn help-tooltip">
                <i class="far fa-question-circle fa-sm"></i>
                <div class="dropdown-content">
                  The value multiplier of the value of each node. A value of 1 means the imediate rewards are as
                  important as the distant ones, while a value of 0 means only the the imediate rewards have an impact
                  on the decision process
                </div>
              </div>
            </a>
            <div class="slider-container">
              <input type="range" min="0" max="1" step="0.1" class="slider" [(ngModel)]="board.gama">
              <div class="param-display">{{board.gama}}</div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link">Explore/Exploit Parameter
              <div class="drop-btn help-tooltip">
                <i class="far fa-question-circle fa-sm"></i>
                <div class="dropdown-content">

                  This parameter represent the trade off between choosing the actions that seems to yield the best
                  result, versus choosing a seemignly less rewarding one to explore, with the potential that the
                  long term reward would be intersting.
                  <a href="https://en.wikipedia.org/wiki/Monte_Carlo_tree_search#Exploration_and_exploitation" target="_blank">Wikipedia</a>

                </div>
              </div>
            </a>
            <div class="slider-container">
              <input type="range" min="0" max="1" step="0.1" class="slider" [(ngModel)]="board.C">
              <div class="param-display">{{board.C}}</div>
            </div>

          </li>
        </ul>
      </div>
    </nav>
  </div>

</header>
